/*Needed for flex-box and react carousel to get along*/
* {
  min-height: 0;
  min-width: 0;
}

/*Setting default size for middle viewport*/
body {
  font-size: .7em;
  margin: auto;
  background-color: cornsilk;
}
/*Hide mobile view from larger view ports*/
.app {
  display:none;
}
/*Overriding blockqoute indentation*/
.bio {
  margin-left: 0;
}
/*Sepearating heading and social media*/
.header__heading {
  margin-right: auto;
}
/*Styling headers of resume sections*/
.componentBody__heading {
  color:blue;
  font-size: 2em;
  text-transform: uppercase;
}
/*Making ui for positions compact*/
.position * {
  margin: 0;
  padding: 0;
}
/*Aligning list items with siblings*/
.position li {
  list-style-position: inside;
}
/*Aligning social buttons with heading*/
.socialButtons {
  margin-top:1.5em;
}
/*Making ui for social buttons compact*/
.socialButtons__list {
  margin: 0;
  padding: 0;
}
/*Styling social media buttons horizontally in header*/
.socialButtons__list li {
  display: inline;
  margin-right: .5rem;
}
/*Parent container for flexbox items*/
.flex-container {
  display: -webkit-flex;
  display: flex;
  margin-right: auto;
  flex-wrap: wrap;
}
/*Set up header to align content on opposite sides of page*/
.header {
  display: flex;
  align-content: space-between;
}
/*Improved spacing on icons in header*/
.fa {
  margin-right: .2em;
}
/*Spacing for company and date on position*/
.position__p {
  display: flex;
  justify-content: space-between;
}
/*Spacing for position title and button*/
.position__h3 {
  display: flex;
  justify-content: space-between;
}
/*Made icons in header black*/
i {
  color: black;
}
/*Set up spacing for position*/
.position {
  margin-bottom: 1em;
  padding: 0;
}
/*Set up styling for buttons in each position*/
.position__button {
  background: blue;
  border-color: black;
  color: cornsilk;
  cursor: pointer;
  padding: 0.15em;
  max-height: 30px;
}
/*Styling for position modals*/
.modal {
    background-color: cornsilk;
    border-radius: 20px;
    text-align: center;
    width: 24rem;
    position: absolute;
    top: 10em;
    left: 30em;
}
/*Modal heading styling*/
.modal__title {
  background: blue;
  color: cornsilk;
  margin: 0;
}
/*Modal body styling*/
.modal__body {
  text-align: center;
  padding: 2em;
}
/*Styling for modal button*/
.modal__button {
    font-size: 1.5em;
    background: blue;
    color: cornsilk;
}
/*Spacing between items in skill lists*/
.skill {
  margin-right: .5em;
}
/*Styling for title of code projects*/
.project__title {
  text-align: center;
}
/*Styling for image of code projects*/
.projectImage {
  max-width: 450px;
  display: block;
  margin: auto;
}
/*Setting height of projects and scrolling*/
#examples {
  overflow-y: scroll;
  max-height: 839px;
}

/* Set up page scrollbars */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 50px;
    background: rgba(0,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
/* End Scrollbar changes */
/*Controlling width of of flipcard component*/
.ReactFlipCard{
  width: 520px;
}
/*Styling for flipcard button*/
.flipCard_button {
  color: cornsilk;
  background-color: blue;
  border-color: #2e6da4;
  cursor: pointer;
  position: absolute;
  left: 440px;
  top: 10px;
  max-width: 80px;
}
/*Styling of interests component*/
.interestsList {
  padding: 0;
}
@media (min-width: 960px) {
  /*Align content to center*/
body {
      width: 60em;
      font-size: 1em;
      margin: auto;
      background-color: cornsilk;
    }
/*Sizing style for flipcard component on large monitors*/
.ReactFlipCard{
  width: 650px;
  height: 740px;
}
/*Styling for flipcard buttons for large displays*/
.flipCard_button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: pointer;
    position: absolute;
    left: 563px;
    top: 33px;
    max-width: 80px;
  }
/*Controlling overflow of code examples*/
  #examples {
    max-height: 670px;
  }
/*Controlling size of feedback paragraph on large displays*/
  .feedback__p {
    max-width: 600px;
    padding-left: 20px;
  }
/*Styling arrows for feedback section*/
  .slick-next:before, .slick-prev:before {
    font-size: 45px;
    line-height: 1;
    opacity: .75;
    color: black;
    left: -22px;
    bottom: 60px;
    position: relative
  }
  /*Styling right arrow*/
  .slick-next {
    right: 7px;
    /*background: black;*/
  }
}

@media (max-width: 769px) {
/*Sizing of flipcard component on medium screens*/
.ReactFlipCard{
  width: 506px;
  height: 535px;
}
/*Styling of flipcard buttons on medium screen*/
.flipCard_button {
  left: 424px;
}
/*Control of project overflow on medium screens */
#examples {
    overflow-y: scroll;
    max-height: 477px;
}

}

@media (max-width: 415px) {
/*Moving content to center of screen*/
  body {
      width: 40em;
    }

    /*Fix social media block on mobile*/
    .socialButtons__list li {
      display: inline;
      margin-right: -.1rem;
    }
/*Make mobile code visible*/
  .app {
    display:block;
  }
/*Make desktop view dissapear*/
  #desktop {
    display: none;
  }
  /*Controlling size of positon titles*/
  .position__span {
    max-width: 300px;
  }
  /*Removing scroll from code examples on mobile*/
  #examples {
    overflow-y: inherit;
    max-height: 1200px;
  }
/*Resizing project images on mobile*/
  .projectImage {
    max-width: 370px;
    display: block;
    margin: auto;
  }
/*Setting styling for mobile modals*/
  .modal {
    background-color: cornsilk;
    /* padding: 2.4rem; */
    text-align: center;
    width: 25rem;
    position: absolute;
    top: 10em;
    left: 2em;
    height: 15rem;
  }
/*Styling modal buttons on mobile*/
  .modal__button {
    font-size: 1.5em;
    background: blue;
    color: cornsilk;
    position: relative;
    bottom: -2em;
}
/*Hiding contact text in header for better mobile experience*/
  .header_brandingLg {
    display: none;
  }
/*Setting font-awesome size for mobile*/
  .fa {
    font-size: 2em;
  }
/*Better sizing for feedback arrows on mobile*/
  .fa-quote-left, .fa-quote-right {
    font-size: 1em;
  }
/*Increasing font-size for better mobile UI*/
  .container-fluid {
    font-size: 2em;
  }
/*Setting color for nav active state*/
  a.active i, a.active span{
    color:#0082c8
  }
  /*Styling mobile nav */
  .nav {
      background: black;
      bottom: 0;
      color: white;
      display: flex;
      height: 4em;
      justify-content: space-between;
      left: 0;
      position: fixed;
      width: 100%;
      z-index: 2;    
  }
  /*Begin styling of mobile nav*/
  .nav i {
    color: white;
    font-size: 2em;
    margin-left: .4em;
    margin-right: .5em;
  }

  .nav a {
    text-decoration: none;
    width: calc(20%);
    text-align: center;
    border-left: white 1px solid;
    border-right: white 1px solid;
    padding-top: 0.3em;
  }

  .nav__span {
    font-size: 1rem;
    color: white;
    text-align: center;
  }
/*End styling of mobile nav*/
  .componentBody  {
    margin-bottom: 7em;
  }
/*Styling feedback arrows on mobile*/
  .slick-next:before, .slick-prev:before {
    color: black;
  }
}