/*Needed for flex-box and react carousel to get along*/
* {
  min-height: 0;
  min-width: 0;
}

body {
      width: 60em;
      margin: auto;
      background-color: cornsilk;
    }

blockquote {
  margin-left: 0;
}

h1 {
  margin-right: auto;
}

h2 {
  color:blue;
  font-size: 2em;
  text-transform: uppercase;
}

ul > *, ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-position: inside;
}

aside {
  margin-top:1.5em;
}

aside ul li {
  display: inline;
  margin-right: .5rem;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  margin-right: auto;
  flex-wrap: wrap;
}

.flex-item1 {
  width: 55%;
}

.flex-item2 {
  margin-left:5em;
  width: 30%;
}

header {
  display: flex;
  align-content: space-between;
}

.fa {
  margin-right: .2em;
}

p {
  display: flex;
  justify-content: space-between;
}

i {
  color: black;
}

.position {
  margin-bottom: 1em;
}

.skill {
  margin-right: .5em;
}

.project__title {
  text-align: center;
}

.projectImage {
  max-width: 450px;
  display: block;
  margin: auto;
}

#experience {
  overflow-y: scroll;
  max-height: 839px;
}

/* Set up page scrollbars */
::-webkit-scrollbar {
    width: 1.2px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 50px;
    background: rgba(0,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
/* End Scrollbar changes */

/*.flipCard_div img{
  display: block;
  margin: auto;
}*/

.ReactFlipCard{
  width: 650px;
}

.flipCard_button {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  cursor: pointer;
  position: absolute;
  left: 210px;
  top: 33px;
}

@media (max-width: 475px) {
.header_brandingLg {
  display: none;
}

.container-fluid {
  font-size: 2em;
}
.nav {
    background: black;
    bottom: 0;
    color: white;
    display: flex;
    height: 4em;
    justify-content: space-between;
    left: 0;
    padding-top: 1em; 
    position: fixed;
    /*width: 100%;    */
}
.nav i {
  color: white;
  font-size: 2.5em;
  margin-left: 0.5em;
  margin-right: .5em;
}
}